@model Bookkeeping.Models.Account;
@using Bookkeeping.Enums;

<body>
    <table class="table">
        <thead>

        </thead>
        <tbody>
            <tr>
                <form method="post">
                     <td>
                        <input type="text" name="AccountId" value=@Model.AccountId />
                    </td>
                    <td>
                        <input type="text" name="Name" value=@Model.Name />
                    </td>
                    <td>
                        <select id="AccountTypes" name="AccountTypes">
                            @foreach (var item in Enum.GetNames(typeof(AccountType)))
                            {
                                <option value=@item>@item</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select id="Subledger" name="Subledger">
                            @foreach (var item in Enum.GetNames(typeof(Subledger)))
                            {
                                <option value=@item>@item</option>
                            }
                        </select>
                    </td>
                    <td>
                        <button asp-controller="Account" asp-action="Edit" type="submit">Submit</button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
</body>