@model Bookkeeping.Models.Account;

<body>
    <table>
        <thead>

        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Name
                </td>
                <td>
                    @Model.ProcessIn
                </td>
                <td>
                    @Model.AccountType
                </td>
            </tr>
        </tbody>
    </table>
</body>