@model IEnumerable<Bookkeeping.Models.Account>;

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody class="grid-container">
@foreach (var item in Model) {
        <tr>
            <td>
                @item.AccountId
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.AccountType
            </td>
            <td>
                @item.ProcessIn
            </td>
        </tr>
}
    </tbody>
</table>
