@using Bookkeeping.Utilities;

<form method="post" asp-controller="Transaction" asp-action="Import" enctype="multipart/form-data">
    <label>Upload file here:</label>
    <input type="file" name="file"/>
    <button type="submit">Import from Excel</button>
</form>
