@model IEnumerable<Programs.ViewModels.AccountTransactionViewModel>

@{
    ViewData["Title"] = "TransactionReport";
}

<head>
    <link rel="stylesheet" href="~/Programs/wwwroot/css/Report.css" />
</head>

<h1>TransactionReport</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody class="grid-container">
@foreach (var item in Model) {
        <tr>
            <td class="grid-item grid-item-1">
                @item.Id
            </td>
            <td class="grid-item grid-item-2">
                @item.Account.Name
            </td>
            <td class="grid-item grid-item-3 amounts">
                @item.Transaction.Amount
            </td>
        </tr>
}
    </tbody>
</table>
